---
import SobreNosotros1 from '@/assets/images/SobreNosotros1.webp';
import SobreNosotros2 from '@/assets/images/SobreNosotros2.webp';
import SobreNosotros3 from '@/assets/images/SobreNosotros3.webp';
import CARMENGROUP from '@/assets/images/users/CARMEN_GROUP.webp';
import CAROLINAGROUP from '@/assets/images/users/CAROLINA_GROUP.webp';
import MOISESGROUP from '@/assets/images/users/MOISES_GROUP.webp';
import XIOMARAGROUP from '@/assets/images/users/XIOMARA_GROUP.webp';
import Member from '@/components/Member.astro';
import Layout from '@/layouts/Layout.astro';
import { Image } from 'astro:assets';
---

<Layout>
  <main class="pt-24 lg:pt-32">
    <section class="px-4 lg:mb-10">
      <div>
        <h1 class="mb-6 text-center text-2xl font-semibold lg:mb-10 lg:text-4xl">
          Fotografía con propósito y pasión
        </h1>
        <div class="flex flex-col gap-4 lg:gap-8">
          <p class="mx-auto max-w-2xl text-center">
            <span class="text-lg font-semibold">Todo lo que ves empieza aquí</span>
            <span class="text-lg text-balance">
              Ideas, pruebas, risas y pasión por lo que hacemos. Somos un equipo que disfruta el
              proceso tanto como el resultado, porque entendemos que las mejores historias se
              construyen juntos.
            </span>
          </p>
          <div class="flex gap-4">
            <Image
              src={SobreNosotros1}
              alt="Backstage Product"
              class="hidden h-100 w-full rounded-lg object-cover lg:block"
            />
            <Image
              src={SobreNosotros2}
              alt="Backstage Fashion"
              class="h-100 w-full rounded-lg object-cover"
            />
            <Image
              src={SobreNosotros3}
              alt="Backstage Podcast"
              class="hidden h-100 w-full rounded-lg object-cover lg:block"
            />
          </div>
        </div>
      </div>
    </section>
    <section class="gradient px-4 py-20">
      <h2 class="mb-4 text-center text-2xl font-semibold lg:mb-10 lg:text-4xl">
        Historias que creamos junto a nuestros clientes
      </h2>
      <p class="mb-10 text-center text-lg text-balance">
        Más que un equipo, somos compañeros de viaje creativo. Cada proyecto nace del vínculo con
        quienes confían en nosotros.
      </p>
      <div class="mx-auto grid max-w-lg grid-cols-1 gap-10 xl:max-w-6xl xl:grid-cols-2">
        <Member
          image={CAROLINAGROUP}
          title="Sesión para marca personal Carolina Calderón"
          location="Centro de la imagen de Carolina, Surco"
          description="Se realizó una sesión de fotos que tuvo una duración de dos horas, usamos tres espacios dentro del centro. Las fotos se usaron para la página web y un cambio de imagen."
        />
        <Member
          image={MOISESGROUP}
          title="Sesión grabación de podcast “Entre Batas”"
          location="Ubi. Cliniderma, San Borja"
          description="Junto a Moises y el Dr. Julio Negrón. Hemos grabado varios capítulos de su podcast “Entre Batas” Para lo cual, usamos tres cámaras, dos micrófonos y un esquema de iluminación dedicado."
        />
        <Member
          image={CARMENGROUP}
          title="Studio de Visual Studio, Lima"
          location="Lima, Perú"
          description="En esta sesión se realizó las fotos para la nueva campaña de BAOZ, todas las fotos fueron para web, así como unos videos que fueron directo a redes."
        />
        <Member
          image={XIOMARAGROUP}
          title="Sesión para Catálogo de Luka Infusiones"
          location="Ynn Coffee, Surquillo"
          description="Con Luka Infusiones, cada cierto tiempo hacemos las fotos para renovar el catálogo. En esta ocasión hicimos las fotos, más fotos de recetas nuevas y videos en formato Reel."
        />
      </div>
    </section>
  </main>

  <style scoped>
    .gradient {
      background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='20' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='%23ffffffff'/><path d='M-4.798 13.573C-3.149 12.533-1.446 11.306 0 10c2.812-2.758 6.18-4.974 10-5 4.183.336 7.193 2.456 10 5 2.86 2.687 6.216 4.952 10 5 4.185-.315 7.35-2.48 10-5 1.452-1.386 3.107-3.085 4.793-4.176'  stroke-width='1' stroke='%23faeee0ff' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
    }
  </style>
</Layout>
