---
import IconBorderCornerSquare from '@/assets/icons/IconBorderCornerSquare.svg';
import IconMapPin from '@/assets/icons/IconMapPin.svg';
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';

interface Props {
  image: ImageMetadata;
  title: string;
  location: string;
  description: string;
}

const { image, title, location, description } = Astro.props as Props;
---

<div class="flex gap-2">
  <div class="relative shrink-0 overflow-hidden rounded-lg border-3 border-black">
    <Image src={image} alt={title} height={200} width={200} class="" />
    <IconBorderCornerSquare class="absolute top-2 left-2 h-4 w-4" />
    <IconBorderCornerSquare class="absolute right-2 bottom-2 h-4 w-4 rotate-180" />
    <IconBorderCornerSquare class="absolute top-2 right-2 h-4 w-4 rotate-90" />
    <IconBorderCornerSquare class="absolute bottom-2 left-2 h-4 w-4 rotate-270" />
  </div>
  <div class="flex flex-col justify-center gap-2">
    <div>
      <h4 class="text-lg leading-5 font-semibold">{title}</h4>
      <p class="text-sm">
        <IconMapPin class="inline-block h-4 w-4" />
        {location}
      </p>
    </div>
    <p class="leading-tight text-balance">{description}</p>
  </div>
</div>
