---
import IconArrowBarLeft from '@/assets/icons/IconArrowBarLeft.svg';
import IconMenu2 from '@/assets/icons/IconMenu2.svg';
import IconTriangleFilled from '@/assets/icons/IconTriangleFilled.svg';
import LogoFull from '@/assets/images/LogoFullRounded.png';
import LogoMin from '@/assets/images/LogoMinRounded.png';
import { SERVICES } from '@/consts/services';
import { Image } from 'astro:assets';

const isLanding = Astro.url.pathname === '/';
---

<header class="header-container fixed z-20 flex h-18 w-full items-center lg:h-24">
  <!-- Header Mobile -->
  <div
    class=`header-mobile relative box-content flex w-full items-center justify-center border-b border-transparent py-3 transition-all duration-300 lg:hidden
    ${isLanding ? 'text-white' : 'text-midnight'}`
  >
    <div class="menu-button absolute left-4">
      <IconMenu2 stroke-width={2} class="text-inherit" />
    </div>
    <div>
      <a href="/">
        <Image src={LogoMin} class="h-12 w-12" width={100} height={100} alt="Logo" />
      </a>
    </div>
    <a href="/" class="inline-block pl-2 font-heading text-xl font-semibold text-inherit">
      Visual Studio
    </a>
  </div>
  <!-- Header Desktop -->
  <div
    class="header-desktop relative box-content hidden h-full w-full transition-all duration-300 lg:block"
    class:list={{ 'text-white': isLanding, 'text-midnight': !isLanding }}
  >
    <nav class="mx-auto h-full max-w-6xl">
      <ul class="grid h-full grid-cols-7 place-items-center gap-4 font-semibold uppercase">
        <li><a href="/">Inicio</a></li>
        <li class="services-link-desktop relative flex items-center gap-1">
          <span class="cursor-pointer">Servicios</span>
          <IconTriangleFilled
            class="mt-[2px] h-2 w-2 rotate-180 cursor-pointer transition-all duration-300"
          />
          <ul
            class="submenu-services-desktop absolute top-10 hidden w-56 list-disc rounded-md bg-beige1/90 p-2 pl-6 text-midnight backdrop-blur-lg"
          >
            {
              SERVICES.map((service) => (
                <a href={`/servicios/${service.slug}`} class="group">
                  <li class="capitalize group-hover:underline">{service.name}</li>
                </a>
              ))
            }
          </ul>
        </li>
        <li><a href="/portafolio">Portafolio</a></li>
        <div>
          <a href="/">
            <Image src={LogoFull} class="h-18 w-18" width={100} height={100} alt="Logo" />
          </a>
        </div>
        <li><a href="/blog" class="disabled">Blog</a></li>
        <li class="text-center"><a href="/sobre-nosotros">Sobre Nosotros</a></li>
        <li><a href="/contactanos">Contactanos</a></li>
      </ul>
    </nav>
  </div>
  <!-- Menu Mobile -->
  <nav class="menu-mobile fixed top-0 left-0 hidden h-lvh w-3/4 bg-beige1">
    <IconArrowBarLeft class="close-menu-mobile absolute top-4 left-4" />
    <ul
      class="links-container flex h-full flex-col items-center justify-center gap-2 px-10 tracking-wider uppercase"
    >
      <li><a href="/">Inicio</a></li>
      <li class="services-link flex items-center gap-1">
        <span>Servicios</span>
        <IconTriangleFilled class="mt-[2px] h-2 w-2 rotate-180" />
      </li>
      <ul class="submenu-services hidden list-disc overflow-hidden pl-4">
        {
          SERVICES.map((service) => (
            <li class="capitalize">
              <a href={`/servicios/${service.slug}`}>{service.name}</a>
            </li>
          ))
        }
      </ul>
      <li><a href="/portafolio">Portafolio</a></li>
      <li><a href="/blog" class="disabled">Blog</a></li>
      <li><a href="/sobre-nosotros">Sobre Nosotros</a></li>
      <li><a href="/contactanos">Contáctanos</a></li>
    </ul>
    <div class="absolute bottom-4 left-1/2 -translate-x-1/2 transform">
      <Image src={LogoFull} width={70} height={70} alt="Logo" />
    </div>
    <div class="close-area absolute top-0 right-0 h-full w-1/3 translate-x-full bg-midnight/70">
    </div>
  </nav>
</header>

<script>
  import { gsap } from 'gsap';

  const $menuButton = document.querySelector('.menu-button') as HTMLButtonElement;
  const $menuMobile = document.querySelector('.menu-mobile') as HTMLDivElement;
  const $closeMenuButton = document.querySelector('.close-menu-mobile') as HTMLDivElement;
  const $closeArea = document.querySelector('.close-area') as HTMLDivElement;
  const $headerContainer = document.querySelector('.header-container') as HTMLDivElement;
  const $headerMobile = document.querySelector('.header-mobile') as HTMLElement;
  const $headerDesktop = document.querySelector('.header-desktop') as HTMLElement;
  const $linksContainer = document.querySelector('.links-container') as HTMLUListElement;

  const $servicesLink = document.querySelector('.services-link') as HTMLLIElement;
  const $servicesLinkDesktop = document.querySelector('.services-link-desktop') as HTMLLIElement;
  const $submenuServices = document.querySelector('.submenu-services') as HTMLDivElement;
  const $submenuServicesDesktop = document.querySelector(
    '.submenu-services-desktop',
  ) as HTMLUListElement;

  $servicesLink.addEventListener('click', () => {
    const isHidden = $submenuServices.classList.contains('hidden');

    if (isHidden) {
      $submenuServices.classList.remove('hidden');
      $servicesLink.querySelector('svg')?.classList.remove('rotate-180');

      gsap.fromTo(
        $submenuServices,
        { height: 0, opacity: 0 },
        {
          height: 'auto',
          opacity: 1,
          duration: 0.5,
          ease: 'power2.out',
        },
      );
    } else {
      $servicesLink.querySelector('svg')?.classList.add('rotate-180');
      gsap.to($submenuServices, {
        height: 0,
        opacity: 0,
        duration: 0.4,
        ease: 'power2.in',
        onComplete: () => {
          $submenuServices.classList.add('hidden');
        },
      });
    }
  });
  let closeTimeout: NodeJS.Timeout;

  $servicesLinkDesktop.addEventListener('mouseenter', () => {
    clearTimeout(closeTimeout);
    if ($submenuServicesDesktop.classList.contains('hidden')) {
      $submenuServicesDesktop.classList.remove('hidden');
      $servicesLinkDesktop.querySelector('svg')?.classList.remove('rotate-180');
      gsap.fromTo($submenuServicesDesktop, { opacity: 0 }, { opacity: 1, duration: 0.3 });
    }
  });

  $servicesLinkDesktop.addEventListener('mouseleave', () => {
    closeTimeout = setTimeout(() => {
      $servicesLinkDesktop.querySelector('svg')?.classList.add('rotate-180');
      gsap.to($submenuServicesDesktop, {
        opacity: 0,
        duration: 0.3,
        ease: 'power2.in',
        onComplete: () => {
          $submenuServicesDesktop.classList.add('hidden');
        },
      });
    }, 500); // margen de 300 ms de tolerancia
  });

  // también mantener abierto si pasa al submenu directamente
  // $submenuServicesDesktop.addEventListener('mouseenter', () => clearTimeout(closeTimeout));
  // $submenuServicesDesktop.addEventListener('mouseleave', () => {
  //   closeTimeout = setTimeout(() => {
  //     $servicesLinkDesktop.querySelector('svg')?.classList.add('rotate-180');
  //     gsap.to($submenuServicesDesktop, {
  //       opacity: 0,
  //       duration: 0.3,
  //       ease: 'power2.in',
  //       onComplete: () => {
  //         $submenuServicesDesktop.classList.add('hidden');
  //       },
  //     });
  //   }, 500);
  // });

  $menuButton.addEventListener('click', () => {
    $menuMobile.classList.remove('hidden');

    const tl = gsap.timeline();

    tl.fromTo($menuMobile, { x: '-100%' }, { x: '0%', duration: 0.4, ease: 'power3.out' });

    tl.fromTo(
      $linksContainer.querySelectorAll(':scope > li'),
      { x: -20, opacity: 0 },
      {
        x: 0,
        opacity: 1,
        duration: 0.4,
        ease: 'power2.out',
        stagger: 0.1,
      },
      '-=0.1',
    );
  });

  function closeMenu() {
    gsap.to($menuMobile, {
      x: '-100%',
      duration: 0.4,
      ease: 'power3.in',
      onComplete: () => {
        $menuMobile.classList.add('hidden');
        gsap.set($linksContainer.querySelectorAll(':scope > li'), { opacity: 0 });
      },
    });
  }

  [$closeMenuButton, $closeArea].forEach((el) => {
    el.addEventListener('click', closeMenu);
  });

  function checkHeaderScroll() {
    if (window.scrollY > 50) {
      $headerMobile.classList.add('header-scrolled');
      $headerContainer.classList.add('header-container-desktop-scrolled');
    } else {
      $headerMobile.classList.remove('header-scrolled');
      $headerContainer.classList.remove('header-container-desktop-scrolled');
    }
  }

  function checkCloseMobile() {
    if (window.innerWidth > 1024) {
      closeMenu();
    }
  }

  checkHeaderScroll();
  window.addEventListener('scroll', checkHeaderScroll);
  window.addEventListener('resize', checkCloseMobile);
</script>
