---
import { Image } from 'astro:assets';
import { SERVICES } from '@/consts/services';
import IconArrowRight from '@/assets/icons/IconArrowRight.svg';
---

<section class="relative px-2 pt-20 pb-10">
  <div class="absolute inset-0 -z-10 bg-beige1"></div>
  <div>
    <h2 class="services-title mb-8 text-center text-2xl font-bold">
      NUESTROS SERVICIOS AUDIOVISUALES
    </h2>
    <p class="services-paragraph mb-10 text-center">
      Creemos que cada proyecto tiene una historia que merece ser contada. Ya sea un producto, un
      evento corporativo o un podcast, nuestro objetivo es darle vida a tus ideas y transmitir lo
      mejor de tu marca.
    </p>
    <ul class="flex flex-col gap-4">
      {
        SERVICES.map((service) => (
          <li class="service-card relative overflow-hidden rounded-xl">
            <div class="h-80">
              <Image class="h-full object-cover" src={service.image} alt={service.name} />
            </div>
            <h3 class="absolute top-0 left-0 rounded-br-xl border-r-4 border-b-4 border-beige1 bg-midnight px-4 py-1 text-xl font-semibold text-white">
              {service.name}
            </h3>
            <div class="service-desc text-md absolute bottom-0 w-full scale-0 rounded-xl bg-midnight/70 px-4 pt-4 pb-4 font-semibold text-white opacity-0">
              <p class="mb-4 text-balance">{service.description}</p>
              <a href={`/servicios/${service.slug}`} class="cursor-pointer underline">
                Conocer más
              </a>
            </div>
            <button class="toggle-btn absolute right-0 bottom-0 rounded-tl-xl bg-midnight/50 p-2">
              <IconArrowRight
                stroke-width={3}
                class="arrow-icon h-7 w-7 rotate-225 text-xl text-white"
              />
            </button>
          </li>
        ))
      }
    </ul>
  </div>
</section>

<script>
  import { gsap } from 'gsap';
  import { ScrollTrigger } from 'gsap/ScrollTrigger';

  gsap.registerPlugin(ScrollTrigger);

  const $servicesTitle = document.querySelector('.services-title');
  const $servicesParagraph = document.querySelector('.services-paragraph');
  const $servicesCards = document.querySelectorAll('.service-card');

  document.querySelectorAll('.toggle-btn').forEach((btn) => {
    const li = btn.closest('li') as HTMLLIElement;
    const desc = li.querySelector('.service-desc');
    const arrow = btn.querySelector('.arrow-icon');

    let isOpen = false;

    btn.addEventListener('click', () => {
      if (!isOpen) {
        gsap.to(desc, {
          scale: 1,
          opacity: 1,
          transformOrigin: '100% 100%',
          duration: 0.4,
          ease: 'power3.out',
        });
        gsap.to(arrow, { rotate: 45, duration: 0.3, ease: 'power2.out' });
      } else {
        gsap.to(desc, {
          scale: 0,
          opacity: 0,
          transformOrigin: '100% 100%',
          duration: 0.3,
          ease: 'power2.in',
        });
        gsap.to(arrow, { rotate: 225, duration: 0.3, ease: 'power2.in' });
      }
      isOpen = !isOpen;
    });
  });

  gsap.from($servicesTitle, {
    y: -100,
    autoAlpha: 0,
    duration: 1,
    ease: 'power3.out',
    scrollTrigger: {
      trigger: $servicesTitle,
      start: 'top 70%',
      toggleActions: 'play none none none',
    },
  });

  gsap.from($servicesParagraph, {
    y: -100,
    autoAlpha: 0,
    duration: 1,
    ease: 'power3.out',
    scrollTrigger: {
      trigger: $servicesParagraph,
      start: 'top 70%',
      toggleActions: 'play none none none',
    },
  });

  $servicesCards.forEach((card) => {
    const $image = card.querySelector('img') as HTMLImageElement;
    const $a = card.querySelector('a');
    $image.addEventListener('click', () => {
      const href = $a?.getAttribute('href');
      if (href) {
        window.location.href = href;
      }
    });
    gsap.from(card, {
      x: -100,
      autoAlpha: 0,
      duration: 1,
      ease: 'power3.out',
      scrollTrigger: {
        trigger: card,
        start: 'top 80%',
        toggleActions: 'play none none none',
      },
    });
  });
</script>
