---
import IconNorthStar from '@/assets/icons/IconNorthStar.svg';
import Button from '@/components/Button.astro';
import Gallery from '@/components/Gallery.astro';
import { SERVICES } from '@/consts/services';
import Layout from '@/layouts/Layout.astro';
import type { GetStaticPaths } from 'astro';

export const getStaticPaths = (async () => {
  return SERVICES.map((service) => ({
    params: { slug: service.slug },
    props: { service },
  }));
}) satisfies GetStaticPaths;

const { service } = Astro.props;

console.log(service);
---

<Layout>
  <main class="pt-20 lg:pt-30">
    <section>
      <div class="embla service-header-carousel">
        <div class="embla__container h-40 lg:h-80">
          {
            service.carouselMediaFiles.map((file) => (
              <div class="embla__slide">
                <img
                  src={`${file.url}_thumb.webp`}
                  alt={file.alt}
                  class="h-full w-full object-cover"
                />
              </div>
            ))
          }
        </div>
      </div>
      <!-- <ServiceHeaderCarousel imagePaths={service.carouselImagesUrl} client:load /> -->
      <div class="service-header flex flex-col items-center gap-4 py-6 lg:gap-8 lg:py-10">
        <h1 class="text-center text-2xl font-semibold lg:text-4xl">{service.name}</h1>
        <p class="px-2 text-center text-lg text-balance lg:mx-auto lg:max-w-5xl">
          {service.description}
        </p>
        <Button text="Contáctanos" type="anchor" href="/contactanos" style="secondary" />
      </div>
    </section>
    <section class="gradient-plus">
      <div class="service-image mx-auto h-60 overflow-hidden p-6 lg:h-80 lg:max-w-6xl">
        <img
          class="h-full w-full rounded-lg object-cover"
          src={`${service.image.url}_highres.webp`}
          alt={service.name}
        />
      </div>
      <div class="mx-auto max-w-6xl lg:grid lg:grid-cols-3">
        {
          service.points.map((point) => (
            <div class="point-service-container flex flex-col gap-4 py-6 pl-4">
              <div class="flex items-center gap-2">
                <IconNorthStar stroke-width={1} class="h-5 w-5" />
                <h2 class="text-lg font-semibold">{point.title}</h2>
              </div>
              <p class="pl-7 text-balance">{point.description}</p>
            </div>
          ))
        }
      </div>
    </section>
    {
      service.videos && service.videos.length > 0 && (
        <section class="py-10">
          <h3 class="mb-8 text-center text-2xl font-semibold">Videos</h3>
          <div class="flex flex-col items-center gap-4">
            {service.videos.map((videoId) => (
              <iframe
                width="560"
                height="315"
                src={`https://www.youtube.com/embed/${videoId}`}
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen
              />
            ))}
          </div>
        </section>
      )
    }
    <section class="portfolio-services-section py-10">
      <h3 class="mb-8 text-center text-2xl font-semibold">Portafolio</h3>
      <div class="px-6">
        <Gallery mediaFiles={service.allMediaFiles} preview />
      </div>
      <Button
        class="mx-auto w-fit"
        text="Ver más del portafolio"
        type="anchor"
        href={`${service.slug}/portafolio`}
        style="primary"
      />
    </section>
  </main>
</Layout>

<style scoped>
  .gradient-plus {
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='40' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='%23ffffffff'/><path d='M20-5V5m0 30v10m20-30v10M0 15v10'  stroke-linecap='square' stroke-width='1' stroke='%23faeee0ff' fill='none'/><path d='M-5 40H5M-5 0H5m30 0h10M35 40h10M15 20h10'  stroke-linecap='square' stroke-width='1' stroke='%23faeee0ff' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
  }

  .service-header-carousel {
    opacity: 0;
  }

  .embla {
    overflow: hidden;
  }

  .embla__container {
    display: flex;
  }

  .embla__slide {
    flex-shrink: 0;
    box-sizing: border-box;
    min-width: 0;
    padding: 0 1px;
  }

  .service-header {
    transform: translateY(100px);
    opacity: 0;
  }
  .point-service-container {
    transform: translateX(-100px);
    opacity: 0;
  }

  .service-image {
    transform: translateX(-100px);
    opacity: 0;
  }

  .portfolio-services-section {
    transform: translateY(100px);
    opacity: 0;
  }
</style>

<script>
  import gsap from 'gsap';
  import { ScrollTrigger } from 'gsap/ScrollTrigger';

  gsap.registerPlugin(ScrollTrigger);

  const $serviceHeaderCarousel = document.querySelector(
    '.service-header-carousel',
  ) as HTMLDivElement;
  const $serviceHeader = document.querySelector('.service-header') as HTMLHeadingElement;
  const $pointServiceContainer = document.querySelectorAll('.point-service-container');
  const $serviceImage = document.querySelector('.service-image') as HTMLDivElement;
  const $portfolioServicesSection = document.querySelector(
    '.portfolio-services-section',
  ) as HTMLDivElement;

  gsap.to($serviceHeaderCarousel, {
    autoAlpha: 1,
    duration: 1.5,
  });

  gsap.to($serviceHeader, {
    y: 0,
    autoAlpha: 1,
    duration: 1,
    scrollTrigger: {
      trigger: $serviceHeader,
      start: 'top 90%',
    },
  });

  $pointServiceContainer.forEach((container) => {
    gsap.to(container, {
      x: 0,
      autoAlpha: 1,
      duration: 1,
      scrollTrigger: {
        trigger: container,
        start: 'top 90%',
      },
    });
  });

  gsap.to($serviceImage, {
    x: 0,
    autoAlpha: 1,
    duration: 1,
    scrollTrigger: {
      trigger: $serviceImage,
      start: 'top 90%',
    },
  });

  gsap.to($portfolioServicesSection, {
    y: 0,
    autoAlpha: 1,
    duration: 1,
    scrollTrigger: {
      trigger: $portfolioServicesSection,
      start: 'top 90%',
    },
  });
</script>

<script>
  import type { EmblaOptionsType, EmblaPluginType } from 'embla-carousel';
  import EmblaCarousel from 'embla-carousel';
  import AutoPlay from 'embla-carousel-autoplay';

  const $emblaNode = document.querySelector('.service-header-carousel') as HTMLDivElement;
  const plugins: EmblaPluginType[] = [
    AutoPlay({
      delay: 2000,
      stopOnInteraction: false,
      stopOnFocusIn: false,
    }),
  ];
  const options: EmblaOptionsType = {
    loop: true,
  };

  const emblaApi = EmblaCarousel($emblaNode, options, plugins);
</script>
